@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Apply Jua font to specific elements */
.jua-font {
  font-family: var(--font-jua);
}

.anekDevanagari-font{
  font-family: var(--font-anek-devanagari);
}

.custom-svg-color-for-darkmode {
  filter: brightness(0) saturate(100%) invert(73%) sepia(29%) saturate(4666%) hue-rotate(156deg) brightness(102%) contrast(95%);

}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite;
}
